* {
    vertical-align: baseline;
    box-sizing: border-box;
    font-weight: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    font-size: 100%;
}

body{
    background-image: url("img/frutas.jpg");
    background-size: 10%;
}

#logo {
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    margin: 50px 50px 0px 100px;
    border-style: solid;
    border-radius: 50px;
    border-width: thick;
    background-color: floralwhite;
}

#frase_do_logo {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

#redes_sociais {
    text-align: center;
    font-size: 16px;
    justify-content: center;
    align-items: center;  
    margin: 50px;
    background-color: floralwhite;
    border-style: solid;
    border-radius: 50px;
    border-width: thick;
    padding: 5px 0px 10px;
}

#menu {
    list-style-type: none;
    margin: 50px;
    padding: 100;
    overflow: hidden;
    background-color: floralwhite;
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    border-style: solid;
    border-radius: 50px;
    border-width: thick;
}

#texto_de_entrada {
    display: inline-block;
    border-style: solid;
    border-radius: 50px 10px;
    border-width: thick;
    margin: 300px 0px 150px 100px;
    background-color: floralwhite;
    text-align: right;
    padding: 30px 10px 10px;
}

#controle_estoque {
    margin: 50px 0px 10px 100px;
    display: inline-block;
    background-color: floralwhite;
    font-size: 16px;
    font-weight: bold;
    border-style: solid;
    border-radius: 50px 10px;
    border-width: thick;
    padding: 15px;
}

#tabela {
    border-style: solid;
    border-radius: 50px 10px;
    border-width: thick;
    border-color: black;
    margin: 10px 10px 0px 500px;
    background-color: floralwhite;
    padding: 15px;
}

#alinhar_texto {
    vertical-align: middle;
    margin: 30px;
    float:inherit;
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    font-weight: bold;
}

#centralizar {
    margin: 50px 50px 50px 50px;
    padding: 15px;
    text-align: center;
    background-color: floralwhite;
    border-style: solid;
    border-radius: 50px 10px;
    border-width: thick;
    border-color: black;
}

#adicionar_estoque {
    border-style: solid;
    border-radius: 50px 10px;
    border-width: thick;
    border-color: black; 
    background-color: floralwhite; 
    padding: 20px;  
}